/*.zarr
/venv*
climatehack_getting_started.zip
/.ipynb_checkpoints
/__pycache__
cleaned_data
/submission/.ipynb_checkpoints
/features.npz
/targets.npz
/submission/validate.py
.gitignore
/submission/__pycache__
/.gitignore

submission/*.pt
